#section-0 .section-0,
#section-1 .section-1,
#section-2 .section-2,
#section-3 .section-3,
#section-4 .section-4,
#section-5 .section-5,
#section-6 .section-6,
#section-7 .section-7,
#section-contact .section-contact
{
    color : white;
    text-decoration : underline;
}

.menu-container UL{
    list-style-type : none;
}

.menu-container UL LI{
	font-weight:normal;
	line-height:20px;
}

.menu-selected
{
    background-color : #C542E7;
    color : white;
}

.g{
    background-image:url('/images/menu.gif');
    background-color : #949BA9;
    background-position:0px 0px;
    background-repeat:repeat-x;
}

.bg{
    background-image:url('/images/arrow.gif');
    background-repeat:no-repeat;
    
}

.level-0{
    background-position:left center;
    padding : 2px 0px 2px 15px;
    color: #7A1993;
    text-decoration : none;
}

.level-1{
    background-position:10px center;
    padding : 2px 0px 2px 25px;
    color: #eee;
    text-decoration : none;
}

.level-2{
    background-position:20px center;
    padding : 2px 0px 2px 35px;
    color: white;
    text-decoration : none;
}

.level-1:hover, .level-2:hover {
	cursor : pointer;
	text-decoration: underline;
}

.menu-container A{	
    display : block;
    border-bottom: 1px solid #E2E2E2;
    font-size : 11px;
    outline-style : none;
}

.level-0:hover {
	color: #ffffff;
	cursor : pointer;
	text-decoration: none;
}